services:
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: ${GPGC_API_DATABASE_PRODUCTION_USERNAME}
      POSTGRES_PASSWORD: ${GPGC_API_DATABASE_PRODUCTION_PASSWORD}
      POSTGRES_DB: ${GPGC_API_DATABASE_PRODUCTION_NAME}
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: always

  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -b '0.0.0.0'"
    volumes:
      - ".:/app"
    ports:
      - "${GPGC_API_DATABASE_PRODUCTION_PORT}:${GPGC_API_DATABASE_PRODUCTION_PORT}"
    depends_on:
      - db
    environment:
      RAILS_ENV: ${RAILS_ENV}
      DATABASE_URL: "postgresql://${GPGC_API_DATABASE_PRODUCTION_USERNAME}:${GPGC_API_DATABASE_PRODUCTION_PASSWORD}@${GPGC_API_DATABASE_PRODUCTION_HOST}:5432/${GPGC_API_DATABASE_PRODUCTION_NAME}"

  rspec:
    build: .
    command: bash -c "rails db:environment:set RAILS_ENV=test && bundle exec rspec"
    volumes:
      - .:/myapp
    depends_on:
      - db

volumes:
  db-data:
