name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      db:
        image: postgres:13
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: gpgc_api
          POSTGRES_PASSWORD: 1310gpgc
          POSTGRES_DB: gpgc_api_development
        options: >-
          --health-cmd="pg_isready -U gpgc_api"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
    # Check out the repository
    - name: Checkout Code
      uses: actions/checkout@v3

    # Set up Ruby
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.1 # Adjust for your app's Ruby version
        bundler-cache: true

    # Set up Environment Variables
    - name: Set Environment Variables
      env:
        RAILS_ENV: development
        GPGC_API_DATABASE_HOST: localhost
        GPGC_API_DATABASE_NAME: gpgc_api_development
        GPGC_API_DATABASE_USERNAME: gpgc_api
        GPGC_API_DATABASE_PASSWORD: 1310gpgc
        GPGC_API_APP_PORT: 3000
        SECRET_KEY_BASE: dfb57b91345c6b300b543418ee1710feac0d4e68405032d39926b3bc4433b68c7f20ab8b17338449e4cb5d51e4b6761438711ed7f4ceec67762700256970fd44
      run: echo "Environment variables set"

    # Install dependencies
    - name: Install Gems
      run: bundle install

    # Set up Database
    - name: Set up Database
      env:
        RAILS_ENV: development
        GPGC_API_DATABASE_HOST: localhost
        GPGC_API_DATABASE_NAME: gpgc_api_development
        GPGC_API_DATABASE_USERNAME: gpgc_api
        GPGC_API_DATABASE_PASSWORD: 1310gpgc
      run: |
        bin/rails db:create
        bin/rails db:migrate

    # Run Tests
    - name: Run Tests
      env:
        RAILS_ENV: development
        GPGC_API_DATABASE_HOST: localhost
        GPGC_API_DATABASE_NAME: gpgc_api_development
        GPGC_API_DATABASE_USERNAME: gpgc_api
        GPGC_API_DATABASE_PASSWORD: 1310gpgc
      run: bin/rails test
